table {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  width: 80%; 
}

td {
  width: 5%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #169e95;
  font-size: 16px; 
  transition: background-color 0.3s, transform 0.2s;
}

td:hover {
  background-color: rgb(77, 255, 0);
  transform: scale(1.25);
  cursor: pointer;
}


.empty:hover {
  background-color: transparent; 
  transform: none; 
  cursor: default; 
}

.element {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 1px solid #a7bf20;
}

.atomic-no {
  display: block;
  font-size: 12px; 
  color: #666;
}

.empty {
  border: none;
}

tr {
  height: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 145, 145);
  padding: 0px;
  margin: 0px;
}

th, td {
  padding: 5px;
  border: 1px solid #a7bf20;
}

h1 {
  text-align: center;
  color: rgb(235, 224, 22);
  margin-bottom: 20px;
}

.f-block {
  background-color: #f0e68c;
  font-weight: bold;
  text-align: center;
  color: #444;
  border: 1px solid #888;
}

.f-block-label {
  font-weight: bold;
  background-color: #ddd;
  color: #333;
  text-align: center;
  padding: 10px 0;
  border: none;
}

.f-block-row {
  margin-top: 20px; 
}

.f-block-container {
  margin: 40px auto; 
  border-top: 2px solid #444; 
  padding-top: 20px;
  width: 85%;
  text-align: center;
}

.f-block:hover {
  background-color: #cc9900;
  transform: scale(1.1);
  cursor: pointer;
}

.search-bar {
  width: 50%;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.search-bar input[type="submit"] {
  width: 20%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.search-bar input[type="submit"]:hover {
  background-color: #3e8e41;
}

.no-results {
  text-align: center;
  color: rgb(255, 251, 0);
  font-weight: bold;
  padding: 20px;
}








/* doing Responsive Styles */
@media (max-width: 768px) {
  td {
    width: 10%; 
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  td {
    width: 20%; 
    font-size: 12px; 
  }
  
 
  table {
    display: block;
    overflow-x: auto; 
  }
  
  tr {
    display: flex;
    flex-wrap: wrap; 
  }
  
  td {
    flex: 1 0 20%; 
    box-sizing: border-box; 
  }
}