table {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  width: 80%;
}

td {
  width: 5%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #169e95;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

td:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.empty:hover {
  background-color: transparent;
  transform: none;
  cursor: default;
}

.element {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 3px solid white;
}

.atomic-no {
  display: block;
  font-size: 12px;
  color: #666;
}

.empty {
  border: none;
}

tr {
  height: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://res.cloudinary.com/dl6yojnad/image/upload/f_auto,q_auto/v1734865003/background_yrln1m.png);
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

th,
td {
  padding: 5px;
  border: 1px solid #a7bf20;
}

h1 {
  text-align: center;
  color: rgb(235, 224, 22);
  margin-bottom: 20px;
}

.f-block {
  font-weight: bold;
  text-align: center;
  color: #444;
  border: 3px solid white;
}

.f-block-label {
  font-weight: bold;
  background-color: #ddd;
  color: #333;
  text-align: center;
  padding: 10px 0;
  border: none;
}

.f-block-row {
  margin-top: 20px;
}

.f-block-container {
  margin: 40px auto;
  border-top: 2px solid #444;
  padding-top: 20px;
  width: 85%;
  text-align: center;
}

.f-block:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.show-table-btn {
  width: 50%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3bb6eb;
  color: white;
  cursor: pointer;
  font-size: 15px;
  display: none;
}

.show-table-btn:hover {
  background-color: #0056b3;
}

.search-bar {
  width: 50%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10 10 10px black;
}

.search-bar input[type="text"] {
  width: 70%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 18px;
}

.search-bar input[type="submit"] {
  width: 20%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.search-bar input[type="submit"]:hover {
  background: #03f484;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f484, 0 0 25px #03f484, 0 0 50px #03f484, 0 0 100px #03f484;
}

.no-results {
  text-align: center;
  color: rgb(255, 251, 0);
  font-weight: bold;
  padding: 20px;
  border: none;
}

.no-results:hover {
  background-color: transparent;
  transform: none;
  cursor: default;
}

/* doing Responsive Styles */
@media (max-width: 768px) {
  td {
    width: 10%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  td {
    width: 20%;
    font-size: 12px;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  td {
    flex: 1 0 20%;
    box-sizing: border-box;
  }
}



.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  backdrop-filter: blur(5px);
  border-right: 3px solid #8716dd;
  border-radius: 40px;
  box-shadow: black 2px 0px 10px;
  padding: 10px;
  overflow-y: auto;
  z-index: 2;

}

.sidebar h3 {
  margin-bottom: 10px;
  color: #444;
}

#sidebar-history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.history-item:hover {
  background-color: #e0e0e0;
}

#his-bar {
  display: block;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 9px;
  font-size: 10px;
  transition: background-color 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

#his-bar:hover {
  background-color: #fff;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}



#clear-history-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.7s, transform 0.5s;
}

#clear-history-btn:hover {
  background-color: #e60000;
  box-shadow: 0 0 5px #e60000, 0 0 25px #e60000, 0 0 50px #e60000, 0 0 100px #e60000;
  transform: scale(1.05);
}

.category {
  padding: 10px;
  margin: 5px;
  border: none;
  display: inline-block;
}

#alkaline {
  background: #F7CE8B;
}

#alkali {
  background: #FAE1B7;
}

#Transition {
  background: #CFC4E6;
}

#Lanthanides {
  background: #E8EEA5;
}

#Actinides {
  background: #BDE4F9;
}

#Metalloids {
  background: #FDF188;
}

#noble {
  background: #EEEEEE;
}

#o-metal {
  background: #F7CFD3;
}

#o-non-metal {
  background: #F3AF96;
}

#halogens {
  background: #AFD5AB;
}

.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}