html{
  scroll-behavior: smooth;
/*   font-size:62.5% */
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  width: 80%;
}

td {
  width: 5%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #169e95;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

td:hover {
  transform: scale(1.25);
  cursor: pointer;
  -webkit-transform: scale(1.25);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change:transform;
}

.empty:hover {
  background-color: transparent;
  transform: none;
  cursor: default;
}

.element {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 3px solid white;
}

.atomic-no {
  display: block;
  font-size: 12px;
  color: #666;
}

.empty {
  border: none;
}

tr {
  height: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://res.cloudinary.com/dl6yojnad/image/upload/f_auto,q_auto/v1734865003/background_yrln1m.png);
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

th,
td {
  padding: 5px;
  border: 1px solid #a7bf20;
}

h1 {
  text-align: center;
  color: rgb(235, 224, 22);
  margin-bottom: 20px;
}

.f-block {
  font-weight: bold;
  text-align: center;
  color: #444;
  border: 3px solid white;
}

.f-block-label {
  font-weight: bold;
  background-color: #ddd;
  color: #333;
  text-align: center;
  padding: 10px 0;
  border: none;
}

.f-block-row {
  margin-top: 20px;
}

.f-block-container {
  margin: 40px auto;
  border-top: 2px solid #444;
  padding-top: 20px;
  width: 85%;
  text-align: center;
}

.f-block:hover {
  transform: scale(1.25);
  cursor: pointer;
  -webkit-transform: scale(1.25);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change:transform;
}

.show-table-btn {
  width: 50%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3bb6eb;
  color: white;
  cursor: pointer;
  font-size: 15px;
  display: none;
}

.show-table-btn:hover {
  background-color: #0056b3;
}

.search-bar {
  width: 50%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10 10 10px black;
}

.search-bar input[type="text"] {
  width: 70%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 18px;
}

.search-bar input[type="submit"] {
  width: 20%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.search-bar input[type="submit"]:hover {
  background: #03f484;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f484, 0 0 25px #03f484, 0 0 50px #03f484, 0 0 100px #03f484;
}

.no-results {
  text-align: center;
  color: rgb(255, 251, 0);
  font-weight: bold;
  padding: 20px;
  border: none;
}

.no-results:hover {
  background-color: transparent;
  transform: none;
  cursor: default;
}

/* doing Responsive Styles */
@media (max-width: 768px) {
  td {
    width: 10%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  td {
    width: 20%;
    font-size: 12px;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  td {
    flex: 1 0 20%;
    box-sizing: border-box;
  }
}



.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  backdrop-filter: blur(5px);
  border-right: 3px solid #8716dd;
  border-radius: 40px;
  box-shadow: black 2px 0px 10px;
  padding: 10px;
  overflow-y: auto;
  z-index: 2;

}

.sidebar h3 {
  margin-bottom: 10px;
  color: #444;
}

#sidebar-history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.history-item:hover {
  background-color: #e0e0e0;
}

#his-bar {
  display: block;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 9px;
  font-size: 10px;
  transition: background-color 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

#his-bar:hover {
  background-color: #fff;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}



#clear-history-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.7s, transform 0.5s;
}

#clear-history-btn:hover {
  background-color: #e60000;
  box-shadow: 0 0 5px #e60000, 0 0 25px #e60000, 0 0 50px #e60000, 0 0 100px #e60000;
  transform: scale(1.05);
}

.category {
  padding: 10px;
  margin: 5px;
  border: none;
  display: inline-block;
}

#alkaline {
  background: #F7CE8B;
}

#alkali {
  background: #FAE1B7;
}

#Transition {
  background: #CFC4E6;
}

#Lanthanides {
  background: #E8EEA5;
}

#Actinides {
  background: #BDE4F9;
}

#Metalloids {
  background: #FDF188;
}

#noble {
  background: #EEEEEE;
}

#o-metal {
  background: #F7CFD3;
}

#o-non-metal {
  background: #F3AF96;
}

#halogens {
  background: #AFD5AB;
}

.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

th {
  background-color:none; 
  font-weight: bold; 
  border: none;
  height: 50px; 
  text-align: center; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.search-bar select {
  width: 30%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px; 
  background-color: #f9f9f9; 
  transition: background-color 0.3s;
}

.search-bar select:hover {
  background-color: #e0e0e0;  
}

.search-bar select option {
  padding: 10px; 
  background-color: #fff; 
  color: #333; 
}

.search-bar select option:checked {
  background-color: #4caf50; 
  color: white; 
}

#reset-filters-btn {
  height: 40px;
  padding: 10px;
  margin-left: 10px; 
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: 0.2s;
}

#reset-filters-btn:hover {
  background-color: #e60000; 
  box-shadow: 0 0 5px #e60000, 0 0 25px #e60000, 0 0 50px #e60000, 0 0 100px #e60000;
}

.modal {
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%; 
}

.closeHelp {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeHelp:hover,
.closeHelp:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.help-btn {
  padding: 10px 15px;
  margin: 10px;
  margin-top: 90px;
  border: none;
  border-radius: 5px;
  background-color: #169e95;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  float: right;
  transition: transform 0.3s ease;
}

.help-btn:hover {
  background-color: #38ada9;
  transform: scale(1.1);
}

input[type="range"] {
  width: 100%; 
  height: 8px;
  background: #ddd; 
  border-radius: 5px; 
  outline: none; 
  opacity: 0.7; 
  transition: opacity 0.2s; 
}

input[type="range"]:hover {
  opacity: 1; 
}

/* Style for the thumb (the draggable part) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none; 
  width: 20px;
  height: 20px; 
  border-radius: 50%; 
  background: #4CAF50; 
  cursor: pointer; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Style for the thumb in Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  background: #4CAF50; 
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Style for the track in WebKit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px; 
  border-radius: 5px; 
}

/* Style for the track in Firefox */
input[type="range"]::-moz-range-track {
  height: 8px;
  border-radius: 5px; 
  background: #ddd; 
}

  #model-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#model-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fff, #f0f0f0);
  opacity: 0.5;
  z-index: -1;
}

#model-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: all 0.3s ease;
}

#toggle-comparison-btn {
  position:absolute;
  top: 27%;
  right: 20px;
  background-color: #3bb6eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;

  &:hover{
    background-color: #0056b3;
  }
}

.close-comparison-tool {
  position: absolute;
  top: 1px;
  right: 10px;
}

#close-comparison-btn {
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

#close-comparison-btn:hover {
  color: #169e95;
}

#comparison-tool {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  display: none;
}

.comparison-tool {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  max-width: 600px;
}


.comparison-tool h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.comparison-tool label {
  font-weight: bold;
  margin-right: 10px;
  display: block;
  margin-bottom: 10px;
}

.comparison-tool select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comparison-tool button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comparison-tool button:hover {
  background-color: #45a049;
}

#comparison-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#comparison-table th, #comparison-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#comparison-table th {
  background-color: #f2f2f2;
}

td[class^="comp-td"]{
  background-color: #e8f5e9; 
  color: #2e7d32; 
  font-weight: bold; 
  border: 2px solid #81c784; 
  transition: background-color 0.3s ease;
  transform: none; 
  cursor:auto;
  
  &:hover {
    background-color: #c8e6c9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); 
    border-color: #4caf50;
    color: #1b5e20;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
  };
}
